include ../../../includes/avatar

.list-group.mb-3
	a.list-group-item.list-group-item-action(href="/settings/profile" class=(title === 'Profile' ? 'active' : ''))
		!= icon('user', 'me-2')
		| Profile
	a.list-group-item.list-group-item-action(href="/settings/security" class=(title === 'Security' ? 'active' : ''))
		!= icon('shieldCheck', 'me-2')
		| Security
	if can_manage_team
		a.list-group-item.list-group-item-action(href="/settings/team" class=(title === 'My Team' ? 'active' : ''))
			!= icon('users', 'me-2')
			| My Team
	a.list-group-item.list-group-item-action(href="/settings/tokens" class=(title === 'Access Tokens' ? 'active' : ''))
		!= icon('key', 'me-2')
		| Apps Access
	if can_manage_restricted_settings && byo_ai_enabled
		a.list-group-item.list-group-item-action(href="/settings/byo-ai" class=(title === 'AI' ? 'active' : ''))
			!= icon('sparkle', 'me-2')
			span AI
	if can_manage_restricted_settings && email_feature_enabled
		a.list-group-item.list-group-item-action(href="/settings/email" class=(title === 'Email settings' ? 'active' : ''))
			!= icon('email', 'me-2')
			span Email settings
	if can_manage_restricted_settings
		a.list-group-item.list-group-item-action(href="/settings/typesense" class=(title === 'Typesense' ? 'active' : ''))
			!= icon('search', 'me-2')
			| Search index
	a.list-group-item.list-group-item-action(href="/settings/usage" class=(title === 'Usage' ? 'active' : ''))
		!= icon('barChart', 'me-2')
		| Usage
	if can_manage_restricted_settings
		a.list-group-item.list-group-item-action(href="/settings/export" class=(title === 'Export' ? 'active' : ''))
			!= icon('upload', 'me-2')
			| Export
		a.list-group-item.list-group-item-action(href="/settings/activity-logs" class=(title === 'Activity Logs' ? 'active' : ''))
			!= icon('notebook', 'me-2')
			| Activity Logs
	if is_hosted
		a.list-group-item.list-group-item-action(href="/settings/subscription" class=(title === 'Subscription' ? 'active' : ''))
			!= icon('creditCard', 'me-2')
			| Subscription
