extends ../auth_layout

block head
	title Forgot Password — Kumbukum

block body
	.container
		.row.justify-content-center.mt-5
			.col-md-5.my-auto
				.card.shadow
					.card-body
						.text-center.logo-form
							.mb-5
								include ../includes/white_label_auth_logo

						form#forgot-password-form
							h5.mb-3 Enter your email to reset your password
							.mb-1
								input.form-control#email(type="email" name="email" placeholder="Enter your email" required autofocus)
							button.btn.btn-primary.w-100(type="submit") Send Reset Link

						.mt-5
							a(href="/login") Back to login

block scripts
	script(src=`/static/v-${v}/js/vendor.js` type="module")
	script(src=`/static/v-${v}/js/auth.js`)
