extends ../auth_layout

block head
	title Magic Link Login — Kumbukum

block body
	if error
		h1.h2.mb-2 Magic link
		.alert.alert-danger= error
		.mt-4
			a(href="/login") Back to login
	else
		h1.h2.mb-2 Continue login
		p.text-muted.mb-5 This step confirms it is really you before we sign you in.
		form(method="POST" action="/magic")
			input(type="hidden" name="token" value=token)
			button.btn.btn-primary.btn-sm.w-100(type="submit") Continue to dashboard

block scripts
	script(src=`/static/v-${v}/js/vendor.js` type="module")
