extends layout

block content
	#project-overview.d-flex.flex-column(style="min-height:100%")
		.text-muted.text-center.mt-5
			!= icon('folderOpen', 'd-block', { style: 'font-size:2rem' })
			| Select a project from the sidebar
